
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}


.App {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}


.menyu {
  display: flex;
  justify-content: center; 
  background-color: #333;
  padding: 10px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menyu a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin: 0 20px; 
 
}

.menyu a:hover {
  color: #007bff;
  border-bottom: 2px solid #007bff;
}


.menyu a.active-link {
  color: #007bff;
  border-bottom: 2px solid #007bff;
}


.page-content {
  padding: 20px;
  margin-top: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}


.home-page {
  text-align: center;
}

.home-page h1 {
  font-size: 2.5rem;
  color: #333;
}

.home-page p {
  font-size: 1.2rem;
  color: #666;
  margin-top: 20px;
}


.about-page {
  text-align: center;
}

.about-page h1 {
  font-size: 2.5rem;
  color: #333;
}

.about-page p {
  font-size: 1.2rem;
  color: #666;
  margin-top: 20px;
  line-height: 1.6;
}


.portfolio-page {
  text-align: center;
}

.portfolio-page h1 {
  font-size: 2.5rem;
  color: #333;
}

.portfolio-page p {
  font-size: 1.2rem;
  color: #666;
  margin-top: 20px;
  line-height: 1.6;
}


.contact-page {
  text-align: center;
}

.contact-page h1 {
  font-size: 2.5rem;
  color: #333;
}

.contact-page p {
  font-size: 1.2rem;
  color: #666;
  margin-top: 20px;
  line-height: 1.6;
}
